DISCORD_USER_TOKEN=

VIDBOT_ALLOWED_USERS=
VIDBOT_PREFIX=$
VIDBOT_WIDTH=1280
VIDBOT_HEIGHT=720
VIDBOT_FPS=30
VIDBOT_VIDEO_BITRATE_KBPS=2500
VIDBOT_VIDEO_MAX_BITRATE_KBPS=4000
VIDBOT_AUDIO_BITRATE_KBPS=128
VIDBOT_VIDEO_CODEC=H264
VIDBOT_MEDIA_ROOT=
